<footer>
    <div class="container">
        <p>&copy; Stork Digital 2019. All Rights Reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="http://bit.ly/37jOOG4" target="_blank">Quem Somos?</a>
            </li>
            <!--<li class="list-inline-item">-->
            <!--<a href="http://bit.ly/37jOOG4" target="_blank">Nossos Serviços</a>-->
            <!--</li>-->
        </ul>
    </div>
</footer>

<!--&lt;!&ndash; Bootstrap core JavaScript &ndash;&gt;-->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

<!--&lt;!&ndash; Plugin JavaScript &ndash;&gt;-->
<!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

<!--&lt;!&ndash; Custom scripts for this template &ndash;&gt;-->
<!--<script src="js/new-age.min.js"></script>-->

</body>

</html>
